/*Colors*/

$brand_primary: #4DA1FF;
$brand_secondry: #EAF4FF;
$brand_black: #233539;
$brand_gray: #C5C5C5;
$brand_lightgray: #D0D7DD;
$brand_lightergray: #E9EFF4;
$brand_darkgray: #989898;
$brand_saffron: #FF6D4A;
$brand_red: #D5D5D5;
$brand_black: #000000;
$brand_white: #ffffff;

/*Spacing*/

%padding-xl {
    padding: 60px 50px;
}


/* Fonts */

$bold:'semibold', sans-serif;
$regular: 'poppins', sans-serif;
$medium: 'poppinsmedium',
sans-serif;