@layer components {
  @screen lg {
    h1,
    .h1 {
      @apply pb-5;
      font-size: 3.125rem;
      line-height: 3.75rem;
    }
    h2,
    h2 > p,
    h2 p > a,
    .h2,
    .h2 > p,
    .h2 p > a {
      font-size: 2.375rem;
      line-height: 3.125rem;
    }
    h3,
    .h3,
    .h3 p > a,
    .h3 > p {
      @apply pb-4;
      font-size: 1.5rem;
      line-height: 2.25rem;
    }
    .rxsection-y-space {
      padding: 5.25rem 0rem;
    }
    .rxsection-b-space {
      padding-bottom: 5.25rem;
    }

    .rxsection-t-space {
      padding-top: 5.25rem;
    }
    .termsPolicyMain{
      h2,
      .h2,
      .h2 p > a,
      .h2 > p {
        @apply pb-4;
        font-size: 1.5rem;
        line-height: 2.25rem;
      }
    }
  }
}
